#game-box{
	width: 400px;
	height: 400px;
	padding-top: 75px;
	margin:auto;
}
.cellBox{
	font-size: 48px;
	color: #fff;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: #5f5;
	border: 3px solid #fff;
	box-sizing: border-box;
}